/* Define uma altura fixa para a div do slide */
.carousel-item {
    height: 100vh; /* Ajuste a altura conforme necessário */
}

/* Força a imagem a ocupar o espaço da div, mantendo a proporção */
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Mantém a imagem proporcional, preenchendo a div */
}

/* Centraliza o conteúdo no meio do slide */
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

#texto{
    width: auto;
}

.laugh{
    width: 100px;
    height: auto;
}

.azul{
    background-color: cadetblue;
}

.letraAzul{
    color: blue;
}

.letraVermelha{
    color: red;
}

.espaço{
    color: aliceblue;
}

.texto1 {
    word-spacing: 20px;
}